USE [dbShopQuanAo]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id_blogs] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[thumbnail] [nvarchar](500) NULL,
	[excerpt] [nvarchar](500) NULL,
	[content] [nvarchar](max) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[published_at] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_blogs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id_carts] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id_cart_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_carts] [bigint] NOT NULL,
	[id_product_variants] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cart_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[id_categories] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_id_categories] [bigint] NULL,
	[name] [nvarchar](191) NOT NULL,
	[slug] [nvarchar](191) NOT NULL,
	[description] [nvarchar](max) NULL,
	[position] [int] NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_code](
	[id_discount_codes] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[min_order_amount] [decimal](12, 2) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[valid_from] [datetime2](7) NULL,
	[valid_to] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_discount_codes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id_orders] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[shipping_fee] [decimal](12, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[id_discount_codes] [bigint] NULL,
	[discount_amount] [decimal](12, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_orders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id_order_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_orders] [bigint] NOT NULL,
	[id_product_variants] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[discount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_products] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categories] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[short_description] [nvarchar](500) NULL,
	[description] [nvarchar](max) NULL,
	[sku] [nvarchar](100) NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[sale_price] [decimal](12, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_products] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[id_product_images] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[url] [nvarchar](1000) NOT NULL,
	[is_primary] [bit] NULL,
	[position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_images] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_review]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_review](
	[id_product_reviews] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[id_users] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[review] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_reviews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variant]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variant](
	[id_product_variants] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[sku] [nvarchar](100) NOT NULL,
	[size] [nvarchar](10) NULL,
	[color] [nvarchar](50) NULL,
	[stock_quantity] [int] NOT NULL,
	[price] [decimal](12, 2) NULL,
	[sale_price] [decimal](12, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_variants] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_users] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](191) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id_wishlists] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_wishlists] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist_item]    Script Date: 11/24/2025 10:00:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist_item](
	[id_wishlist_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_wishlists] [bigint] NOT NULL,
	[id_products] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_wishlist_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blog] ON 

INSERT [dbo].[blog] ([id_blogs], [title], [slug], [thumbnail], [excerpt], [content], [id_users], [published_at], [status]) VALUES (1, N'Xu hướng thời trang nam 2025', N'xu-huong-thoi-trang-nam-2025', NULL, NULL, N'Bài viết về xu hướng thời trang nam 2025', 1, NULL, N'draft')
INSERT [dbo].[blog] ([id_blogs], [title], [slug], [thumbnail], [excerpt], [content], [id_users], [published_at], [status]) VALUES (2, N'Thời trang nữ hè 2025', N'thoi-trang-nu-he-2025', NULL, NULL, N'Các mẫu đầm, chân váy nữ hot hè 2025', 2, NULL, N'draft')
INSERT [dbo].[blog] ([id_blogs], [title], [slug], [thumbnail], [excerpt], [content], [id_users], [published_at], [status]) VALUES (3, N'Tuyển tập giày sneaker', N'tuyen-tap-giay-sneaker', NULL, NULL, N'Giới thiệu các mẫu giày sneaker nam/nữ mới nhất', 3, NULL, N'draft')
SET IDENTITY_INSERT [dbo].[blog] OFF
GO
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([id_carts], [id_users], [created_at], [updated_at]) VALUES (1, 4, CAST(N'2025-11-24T17:29:12.2154717' AS DateTime2), CAST(N'2025-11-24T17:52:42.1863169' AS DateTime2))
SET IDENTITY_INSERT [dbo].[cart] OFF
GO
SET IDENTITY_INSERT [dbo].[cart_item] ON 

INSERT [dbo].[cart_item] ([id_cart_items], [id_carts], [id_product_variants], [quantity], [unit_price]) VALUES (1, 1, 7, 1, CAST(270000.00 AS Decimal(12, 2)))
INSERT [dbo].[cart_item] ([id_cart_items], [id_carts], [id_product_variants], [quantity], [unit_price]) VALUES (2, 1, 2, 3, CAST(450000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[cart_item] OFF
GO
SET IDENTITY_INSERT [dbo].[categorie] ON 

INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [description], [position], [status], [created_at]) VALUES (1, NULL, N'Thời trang nam', N'thoi-trang-nam', N'Danh mục thời trang nam tổng hợp', 0, N'active', CAST(N'2025-11-17T23:45:09.3733333' AS DateTime2))
INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [description], [position], [status], [created_at]) VALUES (2, 1, N'Áo sơ mi nam', N'ao-so-mi-nam', N'Áo sơ mi nam công sở, lịch lãm', 0, N'active', CAST(N'2025-11-17T23:45:09.3733333' AS DateTime2))
INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [description], [position], [status], [created_at]) VALUES (3, 1, N'Quần jean nam', N'quan-jean-nam', N'Quần jean nam trẻ trung, năng động', 0, N'active', CAST(N'2025-11-17T23:45:09.3733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[discount_code] ON 

INSERT [dbo].[discount_code] ([id_discount_codes], [code], [description], [discount_type], [discount_value], [min_order_amount], [usage_limit], [used_count], [valid_from], [valid_to], [status], [created_at], [updated_at]) VALUES (1, N'SALE10', N'Giảm 10%', N'percent', CAST(10.00 AS Decimal(12, 2)), CAST(400000.00 AS Decimal(12, 2)), 5, 0, CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), N'active', CAST(N'2025-11-17T23:52:32.0600000' AS DateTime2), NULL)
INSERT [dbo].[discount_code] ([id_discount_codes], [code], [description], [discount_type], [discount_value], [min_order_amount], [usage_limit], [used_count], [valid_from], [valid_to], [status], [created_at], [updated_at]) VALUES (2, N'SALE20', N'Giảm 20%', N'percent', CAST(20.00 AS Decimal(12, 2)), CAST(1000000.00 AS Decimal(12, 2)), 3, 0, CAST(N'2025-06-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), N'active', CAST(N'2025-11-17T23:52:32.0600000' AS DateTime2), NULL)
INSERT [dbo].[discount_code] ([id_discount_codes], [code], [description], [discount_type], [discount_value], [min_order_amount], [usage_limit], [used_count], [valid_from], [valid_to], [status], [created_at], [updated_at]) VALUES (3, N'NEW5', N'Khách mới 5%', N'percent', CAST(5.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), 2, 0, CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), N'active', CAST(N'2025-11-17T23:52:32.0600000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[discount_code] OFF
GO
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([id_orders], [id_users], [order_number], [status], [total_amount], [shipping_fee], [payment_method], [shipping_address], [id_discount_codes], [discount_amount], [created_at], [updated_at]) VALUES (1, 1, N'ORD001', N'completed', CAST(450000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), N'cod', N'123 Đường A, Quận 1, TP.HCM', 1, CAST(45000.00 AS Decimal(12, 2)), CAST(N'2025-11-17T23:52:36.0066667' AS DateTime2), NULL)
INSERT [dbo].[order] ([id_orders], [id_users], [order_number], [status], [total_amount], [shipping_fee], [payment_method], [shipping_address], [id_discount_codes], [discount_amount], [created_at], [updated_at]) VALUES (2, 2, N'ORD002', N'pending', CAST(810000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), N'cod', N'456 Đường B, Quận 3, TP.HCM', NULL, CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-11-17T23:52:36.0066667' AS DateTime2), NULL)
INSERT [dbo].[order] ([id_orders], [id_users], [order_number], [status], [total_amount], [shipping_fee], [payment_method], [shipping_address], [id_discount_codes], [discount_amount], [created_at], [updated_at]) VALUES (3, 3, N'ORD003', N'shipped', CAST(500000.00 AS Decimal(12, 2)), CAST(20000.00 AS Decimal(12, 2)), N'cod', N'789 Đường C, Quận 5, TP.HCM', 2, CAST(100000.00 AS Decimal(12, 2)), CAST(N'2025-11-17T23:52:36.0066667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[order] OFF
GO
SET IDENTITY_INSERT [dbo].[order_item] ON 

INSERT [dbo].[order_item] ([id_order_items], [id_orders], [id_product_variants], [quantity], [unit_price], [discount]) VALUES (1, 1, 1, 1, CAST(450000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)))
INSERT [dbo].[order_item] ([id_order_items], [id_orders], [id_product_variants], [quantity], [unit_price], [discount]) VALUES (2, 1, 3, 1, CAST(540000.00 AS Decimal(12, 2)), CAST(54000.00 AS Decimal(12, 2)))
INSERT [dbo].[order_item] ([id_order_items], [id_orders], [id_product_variants], [quantity], [unit_price], [discount]) VALUES (3, 2, 9, 2, CAST(810000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[order_item] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at], [updated_at]) VALUES (1, 2, N'Áo sơ mi slimfit', N'ao-so-mi-slimfit', N'Áo sơ mi nam dáng slimfit, cotton co giãn', N'Áo sơ mi nam công sở chất liệu cotton cao cấp, co giãn thoải mái.', N'SP1001', CAST(500000.00 AS Decimal(12, 2)), CAST(450000.00 AS Decimal(12, 2)), 50, N'active', CAST(N'2025-11-17T23:50:59.3500000' AS DateTime2), NULL)
INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at], [updated_at]) VALUES (2, 3, N'Quần jean xanh slim-fit', N'quan-jean-xanh-slim-fit', N'Quần jean slim-fit', N'Quần jean nam xanh, chất liệu denim bền chắc.', N'SP1002', CAST(600000.00 AS Decimal(12, 2)), CAST(540000.00 AS Decimal(12, 2)), 30, N'active', CAST(N'2025-11-17T23:50:59.3500000' AS DateTime2), NULL)
INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at], [updated_at]) VALUES (3, 4, N'Quần âu công sở', N'quan-au-cong-so', N'Quần âu nam', N'Quần tây công sở nam, màu ghi xám.', N'SP1003', CAST(550000.00 AS Decimal(12, 2)), CAST(500000.00 AS Decimal(12, 2)), 25, N'active', CAST(N'2025-11-17T23:50:59.3500000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_review] ON 

INSERT [dbo].[product_review] ([id_product_reviews], [id_products], [id_users], [rating], [review], [images], [status], [created_at], [updated_at]) VALUES (1, 1, 1, 5, N'Thực sự rất vừa vặn, chất liệu tốt.', NULL, N'visible', CAST(N'2025-11-17T23:53:58.6100000' AS DateTime2), NULL)
INSERT [dbo].[product_review] ([id_product_reviews], [id_products], [id_users], [rating], [review], [images], [status], [created_at], [updated_at]) VALUES (2, 2, 2, 4, N'Quần jean mặc thoải mái, màu đẹp.', NULL, N'visible', CAST(N'2025-11-17T23:53:58.6100000' AS DateTime2), NULL)
INSERT [dbo].[product_review] ([id_product_reviews], [id_products], [id_users], [rating], [review], [images], [status], [created_at], [updated_at]) VALUES (3, 3, 3, 5, N'Rất hài lòng với quần âu này.', NULL, N'visible', CAST(N'2025-11-17T23:53:58.6100000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[product_review] OFF
GO
SET IDENTITY_INSERT [dbo].[product_variant] ON 

INSERT [dbo].[product_variant] ([id_product_variants], [id_products], [sku], [size], [color], [stock_quantity], [price], [sale_price], [status], [created_at], [updated_at]) VALUES (1, 1, N'SP1001-S-TR', N'S', N'Tr?ng', 20, CAST(500000.00 AS Decimal(12, 2)), CAST(450000.00 AS Decimal(12, 2)), N'active', CAST(N'2025-11-17T23:52:27.1733333' AS DateTime2), NULL)
INSERT [dbo].[product_variant] ([id_product_variants], [id_products], [sku], [size], [color], [stock_quantity], [price], [sale_price], [status], [created_at], [updated_at]) VALUES (2, 1, N'SP1001-M-XD', N'M', N'Xanh', 30, CAST(500000.00 AS Decimal(12, 2)), CAST(450000.00 AS Decimal(12, 2)), N'active', CAST(N'2025-11-17T23:52:27.1733333' AS DateTime2), NULL)
INSERT [dbo].[product_variant] ([id_product_variants], [id_products], [sku], [size], [color], [stock_quantity], [price], [sale_price], [status], [created_at], [updated_at]) VALUES (3, 2, N'SP1002-32-XD', N'32', N'Xanh', 15, CAST(600000.00 AS Decimal(12, 2)), CAST(540000.00 AS Decimal(12, 2)), N'active', CAST(N'2025-11-17T23:52:27.1733333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[product_variant] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana@example.com', N'hashedpassword1', N'0912345678', N'customer', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (2, N'Lê Thị B', N'lethib@example.com', N'hashedpassword2', N'0987654321', N'customer', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (3, N'Trần Văn C', N'tranvanc@example.com', N'hashedpassword3', N'0909123456', N'admin', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlist] ON 

INSERT [dbo].[wishlist] ([id_wishlists], [id_users], [created_at]) VALUES (1, 1, CAST(N'2025-11-17T23:52:44.4500000' AS DateTime2))
INSERT [dbo].[wishlist] ([id_wishlists], [id_users], [created_at]) VALUES (2, 2, CAST(N'2025-11-17T23:52:44.4500000' AS DateTime2))
INSERT [dbo].[wishlist] ([id_wishlists], [id_users], [created_at]) VALUES (3, 3, CAST(N'2025-11-17T23:52:44.4500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[wishlist] OFF
GO
SET IDENTITY_INSERT [dbo].[wishlist_item] ON 

INSERT [dbo].[wishlist_item] ([id_wishlist_items], [id_wishlists], [id_products]) VALUES (1, 1, 1)
INSERT [dbo].[wishlist_item] ([id_wishlist_items], [id_wishlists], [id_products]) VALUES (2, 1, 5)
INSERT [dbo].[wishlist_item] ([id_wishlist_items], [id_wishlists], [id_products]) VALUES (3, 2, 2)
SET IDENTITY_INSERT [dbo].[wishlist_item] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__blogs__32DD1E4C65269C7A]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[blog] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__32DD1E4CA2E8E5EA]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[categorie] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__discount__357D4CF92546EA39]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[discount_code] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orders__730E34DF3D355318]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[order] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__32DD1E4C4C89B431]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__DDDF4BE7BB8D8713]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product___DDDF4BE7453961E2]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[product_variant] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164D96C0351]    Script Date: 11/24/2025 10:00:21 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[categorie] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[categorie] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[categorie] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ((0)) FOR [min_order_amount]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('cod') FOR [payment_method]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_item] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[product_review] ADD  DEFAULT ('visible') FOR [status]
GO
ALTER TABLE [dbo].[product_review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK_blogs_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK_blogs_users]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_carts_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_carts_users]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_carts] FOREIGN KEY([id_carts])
REFERENCES [dbo].[cart] ([id_carts])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitems_carts]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_variants] FOREIGN KEY([id_product_variants])
REFERENCES [dbo].[product_variant] ([id_product_variants])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitems_variants]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_discount_codes] FOREIGN KEY([id_discount_codes])
REFERENCES [dbo].[discount_code] ([id_discount_codes])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_discount_codes]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_orders] FOREIGN KEY([id_orders])
REFERENCES [dbo].[order] ([id_orders])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitems_orders]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_variants] FOREIGN KEY([id_product_variants])
REFERENCES [dbo].[product_variant] ([id_product_variants])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitems_variants]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([id_categories])
REFERENCES [dbo].[categorie] ([id_categories])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK_images_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK_images_products]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [FK_reviews_products]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[product_variant]  WITH CHECK ADD  CONSTRAINT [FK_variants_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_variant] CHECK CONSTRAINT [FK_variants_products]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlists_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlists_users]
GO
ALTER TABLE [dbo].[wishlist_item]  WITH CHECK ADD  CONSTRAINT [FK_wishlistitems_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[wishlist_item] CHECK CONSTRAINT [FK_wishlistitems_products]
GO
ALTER TABLE [dbo].[wishlist_item]  WITH CHECK ADD  CONSTRAINT [FK_wishlistitems_wishlist] FOREIGN KEY([id_wishlists])
REFERENCES [dbo].[wishlist] ([id_wishlists])
GO
ALTER TABLE [dbo].[wishlist_item] CHECK CONSTRAINT [FK_wishlistitems_wishlist]
GO
