USE [dbShopQuanAo]
GO
/****** Object:  Table [dbo].[banner]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banner](
	[id_banners] [bigint] IDENTITY(1,1) NOT NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[link_url] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_banners] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id_blogs] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[thumbnail] [nvarchar](500) NULL,
	[excerpt] [nvarchar](500) NULL,
	[content] [nvarchar](max) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[published_at] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_blogs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id_carts] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_item]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_item](
	[id_cart_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_carts] [bigint] NOT NULL,
	[id_product_variants] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cart_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorie]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorie](
	[id_categories] [bigint] IDENTITY(1,1) NOT NULL,
	[parent_id_categories] [bigint] NULL,
	[name] [nvarchar](191) NOT NULL,
	[slug] [nvarchar](191) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[img] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount_code]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount_code](
	[id_discount_codes] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[min_order_amount] [decimal](12, 2) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
	[valid_from] [datetime2](7) NULL,
	[valid_to] [datetime2](7) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_discount_codes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[id_orders] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[status] [nvarchar](20) NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[shipping_fee] [decimal](12, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[shipping_address] [nvarchar](max) NOT NULL,
	[id_discount_codes] [bigint] NULL,
	[discount_amount] [decimal](12, 2) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_orders] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item](
	[id_order_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_orders] [bigint] NOT NULL,
	[id_product_variants] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[discount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status_history]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_history](
	[id_order_status_histories] [bigint] IDENTITY(1,1) NOT NULL,
	[id_orders] [bigint] NOT NULL,
	[old_status] [nvarchar](20) NULL,
	[new_status] [nvarchar](20) NOT NULL,
	[note] [nvarchar](500) NULL,
	[changed_by_users] [bigint] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order_status_histories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[id_payments] [bigint] IDENTITY(1,1) NOT NULL,
	[id_orders] [bigint] NOT NULL,
	[payment_gateway] [nvarchar](50) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[transaction_code] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[paid_at] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[raw_response] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payments] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id_products] [bigint] IDENTITY(1,1) NOT NULL,
	[id_categories] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [nvarchar](255) NOT NULL,
	[short_description] [nvarchar](500) NULL,
	[description] [nvarchar](max) NULL,
	[sku] [nvarchar](100) NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[sale_price] [decimal](12, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_products] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_image]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_image](
	[id_product_images] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[url] [nvarchar](1000) NOT NULL,
	[is_primary] [bit] NULL,
	[position] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_images] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_review]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_review](
	[id_product_reviews] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[id_users] [bigint] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[review] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_reviews] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variant]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variant](
	[id_product_variants] [bigint] IDENTITY(1,1) NOT NULL,
	[id_products] [bigint] NOT NULL,
	[sku] [nvarchar](100) NOT NULL,
	[size] [nvarchar](10) NULL,
	[color] [nvarchar](50) NULL,
	[stock_quantity] [int] NOT NULL,
	[price] [decimal](12, 2) NULL,
	[sale_price] [decimal](12, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product_variants] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id_users] [bigint] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](191) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_users] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist](
	[id_wishlists] [bigint] IDENTITY(1,1) NOT NULL,
	[id_users] [bigint] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_wishlists] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlist_item]    Script Date: 12/8/2025 8:55:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlist_item](
	[id_wishlist_items] [bigint] IDENTITY(1,1) NOT NULL,
	[id_wishlists] [bigint] NOT NULL,
	[id_products] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_wishlist_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[banner] ON 

INSERT [dbo].[banner] ([id_banners], [image_url], [link_url]) VALUES (1, N'banner1.jpg', N'ao-thu-dong')
INSERT [dbo].[banner] ([id_banners], [image_url], [link_url]) VALUES (2, N'banner2.jpg', N'ao')
INSERT [dbo].[banner] ([id_banners], [image_url], [link_url]) VALUES (3, N'banner3.jpg', N'ao')
SET IDENTITY_INSERT [dbo].[banner] OFF
GO
SET IDENTITY_INSERT [dbo].[categorie] ON 

INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [status], [created_at], [img]) VALUES (1, NULL, N'ÁO THU ĐÔNG', N'ao-thu-dong', N'active', CAST(N'2025-12-07T00:16:58.4800000' AS DateTime2), NULL)
INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [status], [created_at], [img]) VALUES (2, NULL, N'ÁO XUÂN HÈ', N'ao-xuan-he', N'active', CAST(N'2025-12-07T00:16:58.4800000' AS DateTime2), NULL)
INSERT [dbo].[categorie] ([id_categories], [parent_id_categories], [name], [slug], [status], [created_at], [img]) VALUES (3, NULL, N'QUẦN', N'quan', N'active', CAST(N'2025-12-07T00:16:58.4800000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[categorie] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at]) VALUES (1, 5, N'Áo Nỉ Fitted L.4.7904', N'ao-ni-fitted-l-4-7904', N'Áo nỉ nam form fitted, chất nỉ mềm, giữ ấm tốt.', N'Áo nỉ nam form fitted, chất nỉ dày mềm, giữ ấm tốt, dễ phối với quần jeans hoặc quần kaki, phù hợp đi làm, đi học và đi chơi.', N'ANF-4-7904', CAST(199000.00 AS Decimal(12, 2)), CAST(199000.00 AS Decimal(12, 2)), 120, N'active', CAST(N'2025-12-08T19:46:58.8933333' AS DateTime2))
INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at]) VALUES (2, 5, N'Áo Nỉ Fitted L.3.7859', N'ao-ni-fitted-l-3-7859', N'Áo nỉ form vừa vặn, cổ tròn, tay bo.', N'Áo nỉ nam form vừa vặn, cổ tròn, tay bo, màu cơ bản dễ phối, phù hợp mặc hằng ngày trong thời tiết se lạnh.', N'ANF-3-7859', CAST(189000.00 AS Decimal(12, 2)), CAST(189000.00 AS Decimal(12, 2)), 110, N'active', CAST(N'2025-12-08T19:46:58.8933333' AS DateTime2))
INSERT [dbo].[product] ([id_products], [id_categories], [name], [slug], [short_description], [description], [sku], [price], [sale_price], [stock_quantity], [status], [created_at]) VALUES (3, 5, N'Áo Nỉ Loose L.3.7831', N'ao-ni-loose-l-3-7831', N'Áo nỉ form rộng, phong cách streetwear.', N'Áo nỉ nam form rộng, phong cách streetwear, chất nỉ dày dặn, mang lại cảm giác thoải mái khi vận động.', N'ANL-3-7831', CAST(239000.00 AS Decimal(12, 2)), CAST(239000.00 AS Decimal(12, 2)), 90, N'active', CAST(N'2025-12-08T19:46:58.8933333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (1, N'Nguyễn Văn A', N'nguyenvana@example.com', N'hashedpassword1', N'0912345678', N'customer', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (2, N'Lê Thị B', N'lethib@example.com', N'hashedpassword2', N'0987654321', N'customer', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
INSERT [dbo].[user] ([id_users], [full_name], [email], [password_hash], [phone], [role], [status], [created_at], [updated_at]) VALUES (3, N'Trần Văn C', N'tranvanc@example.com', N'hashedpassword3', N'0909123456', N'admin', N'active', CAST(N'2025-11-17T23:44:46.4033333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__blogs__32DD1E4C65269C7A]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[blog] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__32DD1E4CA2E8E5EA]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[categorie] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__discount__357D4CF92546EA39]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[discount_code] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orders__730E34DF3D355318]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[order] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__32DD1E4C4C89B431]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__DDDF4BE7BB8D8713]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[product] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__product___DDDF4BE7453961E2]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[product_variant] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164D96C0351]    Script Date: 12/8/2025 8:55:40 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[categorie] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[categorie] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ((0)) FOR [min_order_amount]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[discount_code] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ('cod') FOR [payment_method]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_item] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[order_status_history] ADD  CONSTRAINT [DF_order_status_history_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[payment] ADD  CONSTRAINT [DF_payment_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[product_image] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[product_review] ADD  DEFAULT ('visible') FOR [status]
GO
ALTER TABLE [dbo].[product_review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[product_variant] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('customer') FOR [role]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wishlist] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FK_blogs_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FK_blogs_users]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD  CONSTRAINT [FK_carts_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[cart] CHECK CONSTRAINT [FK_carts_users]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_carts] FOREIGN KEY([id_carts])
REFERENCES [dbo].[cart] ([id_carts])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitems_carts]
GO
ALTER TABLE [dbo].[cart_item]  WITH CHECK ADD  CONSTRAINT [FK_cartitems_variants] FOREIGN KEY([id_product_variants])
REFERENCES [dbo].[product_variant] ([id_product_variants])
GO
ALTER TABLE [dbo].[cart_item] CHECK CONSTRAINT [FK_cartitems_variants]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_discount_codes] FOREIGN KEY([id_discount_codes])
REFERENCES [dbo].[discount_code] ([id_discount_codes])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_discount_codes]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_orders] FOREIGN KEY([id_orders])
REFERENCES [dbo].[order] ([id_orders])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitems_orders]
GO
ALTER TABLE [dbo].[order_item]  WITH CHECK ADD  CONSTRAINT [FK_orderitems_variants] FOREIGN KEY([id_product_variants])
REFERENCES [dbo].[product_variant] ([id_product_variants])
GO
ALTER TABLE [dbo].[order_item] CHECK CONSTRAINT [FK_orderitems_variants]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK_order_status_history_orders] FOREIGN KEY([id_orders])
REFERENCES [dbo].[order] ([id_orders])
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK_order_status_history_orders]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK_order_status_history_users] FOREIGN KEY([changed_by_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK_order_status_history_users]
GO
ALTER TABLE [dbo].[payment]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders] FOREIGN KEY([id_orders])
REFERENCES [dbo].[order] ([id_orders])
GO
ALTER TABLE [dbo].[payment] CHECK CONSTRAINT [FK_payment_orders]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_products_categories] FOREIGN KEY([id_categories])
REFERENCES [dbo].[categorie] ([id_categories])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_products_categories]
GO
ALTER TABLE [dbo].[product_image]  WITH CHECK ADD  CONSTRAINT [FK_images_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_image] CHECK CONSTRAINT [FK_images_products]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [FK_reviews_products]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[product_variant]  WITH CHECK ADD  CONSTRAINT [FK_variants_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[product_variant] CHECK CONSTRAINT [FK_variants_products]
GO
ALTER TABLE [dbo].[wishlist]  WITH CHECK ADD  CONSTRAINT [FK_wishlists_users] FOREIGN KEY([id_users])
REFERENCES [dbo].[user] ([id_users])
GO
ALTER TABLE [dbo].[wishlist] CHECK CONSTRAINT [FK_wishlists_users]
GO
ALTER TABLE [dbo].[wishlist_item]  WITH CHECK ADD  CONSTRAINT [FK_wishlistitems_products] FOREIGN KEY([id_products])
REFERENCES [dbo].[product] ([id_products])
GO
ALTER TABLE [dbo].[wishlist_item] CHECK CONSTRAINT [FK_wishlistitems_products]
GO
ALTER TABLE [dbo].[wishlist_item]  WITH CHECK ADD  CONSTRAINT [FK_wishlistitems_wishlist] FOREIGN KEY([id_wishlists])
REFERENCES [dbo].[wishlist] ([id_wishlists])
GO
ALTER TABLE [dbo].[wishlist_item] CHECK CONSTRAINT [FK_wishlistitems_wishlist]
GO
